# gems
*.gem
/Gemfile.lock
*.gemfile.lock
/gems/

# tests / test coverage
/coverage
/test/**/source/.jekyll-cache/

# bundler
/.bundle/
/vendor/bundle/

# rdoc - documenation output folder
/rdoc/

# Unsorted