name: Coverage
on: 
  push:
    branches:
      - develop
      - main
      - master
    tags-ignore:
      - "*"
    paths-ignore:
      - "README.md"
  pull_request:
    branches:
      - develop
      - main
      - master
    tags-ignore:
      - "*"
    paths-ignore:
      - "README.md"
jobs:
  build:
    strategy:
      matrix:
        ruby: [2.7]
    runs-on: ubuntu-latest
    name: coverage
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: bundle install
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
      - uses: paambaati/codeclimate-action@v2.7.4
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CODECLIMATE_REPORTER_ID }}
        with:
          coverageCommand: bundle exec rake test